@font-face {
  font-family: font-med;
  src: url("https://www.etsy.com/assets/type/Graphik-Medium-Web.woff2?v=220104");
}
@font-face {
  font-family: font-reg;
  src: url("https://www.etsy.com/assets/type/Graphik-Regular-Web.woff2?v=220104");
}
@font-face {
  font-family: font-light;
  src: url("https://www.etsy.com/assets/type/Guardian-EgypTT-Light.woff2?v=220104");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.website {
  display: none;
}

.mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-inline: 12px;
}

.etsy-logo {
  width: 60px;
  height: 30px;
  fill: #f1641e;
  transform: translate(-3px, -2px);
}

.login-wishlist {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 1.4;
  transform: translateX(2px);
}

.login-wishlist .sign-in {
  display: inline-block;
  text-decoration: none;
  color: #222;
  font-family: font-med;
  margin-right: 5px;
  padding: 9px 15px;
  transform: translateX(1px);
}

.login-wishlist .wishlist,
.login-wishlist .basket {
  height: 24px;
  width: 24px;
  color: #222;
  margin: 12px;
}

.login-wishlist .wishlist {
  transform: translateY(-1px);
}

.login-wishlist .basket {
  transform: translate(-2px, -1px);
}

.login-wishlist .wishlist svg,
.login-wishlist .basket svg {
  width: 100%;
}

.mobile-search-section{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.search-menu{
    margin-right: 12px;
    margin-top: 3px;
}

.search-menu svg, .search-icon svg{
    width: 100%;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.search{
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid #222;
    border-radius: 96px;
    background-color: rgba(34, 34, 34, 0.05);
}

.search input{
    border: none;
    font-size: 16px;
    line-height: 28px;
    padding-block: 8px;
    padding-left: 18px;
    /* padding-right: 35px; */
    background-color: transparent;
}

.search-icon{
    border: none;
    background-color: transparent;
    margin-right: 22px;
    margin-top: 2px;
}

@media screen and (min-width: 480px) {
    .mobile{
        margin-top: 5px;
    }
  .etsy-logo {
    width: 80px;
    height: 40px;
  }
  .login-wishlist .sign-in{
    transform: translate(-3px, -3px);
  }
  .login-wishlist .wishlist{
    transform: translate(-2px, -4px);
  }
  .login-wishlist .basket{
    transform: translate(-2px, -4px);
  }
  .mobile-search-section{
    margin-top: -1px;
  }
}

@media screen and (min-width: 900px) {
  .mobile {
    display: none;
  }
  .website {
    padding: 12px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin-inline: auto;
  }

  .etsy-logo {
    width: 87px;
    height: 40px;
    padding-right: 8px;
    transform: unset;
    margin-top: 7px;
    transform: translate(-2px, -2px);
  }

  .etsy-logo svg {
    fill: #f1641e;
  }

  .web-search-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #222;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0);
    flex: 1 1;
    overflow: hidden;
    margin-right: 18px;
  }

  .web-search-section .web-search {
    width: 100%;
    padding: 8px 42px 8px 18px;
    border: none;
    font-size: 16px;
    line-height: 28px;
    font-family: font-reg;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(1px);
  }

  .web-search-btn {
    border: none;
    padding: 8px 21px 7px 13px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
    margin-top: 2px;
    margin-right: 1px;
  }

  .web-search-btn:hover {
    background-color: rgba(34, 34, 34, 0.05);
  }

  .web-search-section svg {
    width: 24px;
    height: 24px;
  }

  .login-wishlist {
    display: flex;
    align-items: center;
    transform: unset;
  }

  .login-wishlist .sign-in {
    font-size: 13px;
    line-height: 1.4;
    padding: 9px 15px;
    margin-right: 6px;
    text-decoration: none;
    font-family: font-med;
    color: #222;
    transform: unset;
  }

  .login-wishlist .wishlist,
  .login-wishlist .basket {
    display: inline-block;
    padding: 12px;
    transform: translate(-12px, -13px);
  }

  .login-wishlist .wishlist svg,
  .login-wishlist .basket svg {
    width: 24px;
    height: 24px;
  }

  .categories {
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 35px;
    display: none;
  }

  .categories ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate(-7px, -1px);
  }

  .categories ul li {
    margin-top: 4px;
    margin-right: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: font-reg;
    line-height: 18px;
  }

  .categories ul li a,
  .categories ul .gift-text {
    text-decoration: none;
    color: #222;
  }

  .categories ul .gift-svg {
    margin-top: 1px;
  }

  .categories ul .gift-text {
    margin-left: 2px;
    margin-bottom: 1px;
  }

  .discover-section {
    margin-top: -5px;
  }

  .discover-section h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
    font-family: font-light;
    letter-spacing: 0.5px;
    color: #222;
    padding: 18px 18px 18px 18px;
    background-color: #d7e6f5;
    /* transform: translate(-3px, 8px); */
  }

  .discover-categories {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }

  .discover-categories-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px 30px;
    width: min-content;
    text-align: center;
  }

  .card-img img {
    width: 114px;
    border-radius: 50%;
    margin-block: 12px;
  }

  .discover-categories-card .card-text {
    font-family: font-med;
    font-size: 16px;
    line-height: 20px;
  }

  .discover-categories-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #d7e6f5;
    z-index: -1;
  }
}
